body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: Arial, sans-serif;
}

.bmi-box {
    width: 350px;
    margin: 80px auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
    color: #281b4b;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 20px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: #2f2358;
    border-radius: 20px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#result {
    text-align: center;
    color: green;
}

#message {
    text-align: center;
    font-size: 18px;
}

